<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
      <h2 class="mb-4 text-2xl font-bold text-center text-gray-800">Registrarse</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            placeholder="Nombre de usuario"
            required
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            required
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Contraseña"
            required
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
          />
        </div>
        <button
          type="submit"
          class="w-full p-3 mt-4 font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300"
        >
          Registrarse
        </button>
      </form>
    </div>
  </div>
  